<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS from Bootstrap -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/sweetalert.css">
    <!-- CSS from designer -->
    <link rel="stylesheet" href="../stylesheets/signin.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link href="../stylesheets/bootstrap-switch.css" rel="stylesheet">
    <title>Profile</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <% if (privilege == 'Administrator'){ %>
                <li><a href="/users">Administrator</a ></li>
                <%}else{%>
                <li><a href="/adminUsers">User List</a ></li>
                <%}%>
                <li><a href="/chatPrivately">Chat Privately</a></li>
                <li><a href="/announcement">Announcement</a ></li>
                <% if (privilege == 'Monitor'){ %>
                <li><a href="/measurePerformance">Performance</a ></li>
                <%}%>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" id="status-toggle">Status<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="status-ok" data-toggle="tab">OK</a></li>
                        <li><a href="#" id="status-help" data-toggle="tab">Help</a></li>
                        <li><a href="#" id="status-emergency" data-toggle="tab">Emergency</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id = "adminName"><%=adminName%></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout"><strong>Sign out</strong></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div id="wrapper" class="col-md-8 col-md-offset-2 text-center">
            <form method="post" class="form-horizontal form-signin">
                <h3 class="form-signin-heading"> Administer User Profile </h3>
                <hr class="featurette-divider">
                <input type="hidden" id="user" value="<%=user%>">
                <div class="form-group">
                    <label class="col-sm-5 control-label">Account Status:</label>
                    <div class="col-sm-7">
                        <input id="new_account" type="checkbox" data-off-text="Inactive" data-on-text="Active" checked="<%=user.accountStatus%>" class="BSswitch">
                        <input type="hidden" id="account" value="<%=user.accountStatus%>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Privilege:  </label>
                    <div class="col-sm-7">
                        <select class="form-control" id="new_privilege">
                            <option value='<%=user.privilege%>' selected><%=user.privilege%></option>
                            <option value="Administrator">Administrator</option>
                            <option value="Coordinator">Coordinator</option>
                            <option value="Monitor">Monitor</option>
                            <option value="Citizen">Citizen</option>
                        </select>
                        <input type="hidden" id="privilege" value="<%=user.privilege%>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Username:  </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="new_userName" value=<%=user.userName%>>
                        <input type="hidden" id="userName" value="<%=user.userName%>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Password:  </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="new_password" value=<%=user.password%>>
                        <input type="hidden" id="password" value="<%=user.password%>">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="button" id="submit" class="btn btn-primary btn-large btn-transparent btn-rounded">Save and Submit</button>
                    </div>
                </div>
            </form>

            <div class="error"></div>
        </div>
    </div>
</div>

<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap-switch.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/sweetalert.min.js"></script>
<script src="../javascripts/administer.js"></script>

</body>
</html>
