<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Share Location</title>
    <script src="../socket.io/socket.io.js"></script>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/sweetalert.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/map.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/leaflet.css" />
    <link rel="stylesheet" href="stylesheets/leaflet.label.css" />
    <link rel="stylesheet" href="stylesheets/leaflet.awesome-markers.css" />
</head>
<body>
<!--Navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SSNoC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users">User List</a></li>
                <li><a href="/chatPrivately">Chat Privately</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/measurePerformance">Performance</a></li>
                <li><a href="/map">Map</a></li>
                <!--<li><a href="#">Help</a></li>-->
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" id="status-toggle">Status<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="status-ok" data-toggle="tab">OK</a></li>
                        <li><a href="#" id="status-help" data-toggle="tab">Help</a></li>
                        <li><a href="#" id="status-emergency" data-toggle="tab">Emergency</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id = "username"><%=username%></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Change Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Change Status</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><strong>Sign out</strong></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container">
    <div class="row">
        <!--<div class="row">-->
        <input type="hidden" id="myname" value="<%=username%>">
        <input type="hidden" id="mystatus" value="<%=status%>">
        <!-- main column -->
        <div id="leftcontent" class="col-md-10 col-md-offset-1 main">
            <div class="jumbotron">
                <div class="input-group">
                    <input id="focusedInput" type="text" class="form-control" placeholder="Enter your place here...">
                 <span class="input-group-btn">
                     <button id="cancel-btn" type="submit" class="btn btn-danger">
                         <i class="fa fa-times"></i>
                     </button>
                     <button id="post-btn" type="submit" class="btn btn-info">
                         <i class="fa fa-search" aria-hidden="true"></i>
                     </button>
                 </span>
                </div>
                <div id="map-container" class="well well-sm">
                    <div id="map">
                        <!--<img id="map-img" src="../images/CMUCampusMap.png" class="img-responsive center-block" alt="Responsive image">-->
                    </div>
                </div>
                <!--<div id="mapid" style="width: 600px; height: 400px"></div>-->
            </div>
        </div>
    </div>
</div>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/sweetalert.min.js"></script>
<script src="javascripts/leaflet.js"></script>
<script src="javascripts/leaflet.label-src.js"></script>
<script src="javascripts/leaflet.awesome-markers.js"></script>
<script src="javascripts/map.js"></script>
<script src="javascripts/sharestatus.js"></script>

<!--guangyu test-->
<script src="javascripts/mapUtil.js"></script>

<script>
    var map = L.map('map', {
        maxZoom: 3,
        minZoom: 1,
        crs: L.CRS.Simple
    }).setView([900, 600], 1);

    var w = 1800;
    var h = 1200;
    var url = '../images/CMUCampusMap.png';

    var southWest = map.unproject([0, h], map.getMaxZoom()-0.5);
    var northEast = map.unproject([w, 0], map.getMaxZoom()-0.5);
    var bounds = new L.LatLngBounds(southWest, northEast);

    map.setMaxBounds(bounds);
    L.imageOverlay(url, bounds).addTo(map);
</script>
</body>
</html>