@charset "UTF-8";
body {
    background: url("../images/background.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Lato", sans-serif;
    /*padding-bottom: 50%;*/
}
.page-header {
    padding-bottom: 9px;
    margin: 71px 0 20px;
    border-bottom: none;
}
.jumbotron {
    /*padding-top: 1px;*/
    margin: 71px 0 20px;
    height: 80%;
    background-color: rgba(191, 191, 191, 0.3);;
}
#posts {
    height: 90%;
    overflow: scroll;
}

.my-btn-group {
    /*margin: 71px 0 0;*/
}

.my-btn-link {
    background-color: transparent;
    color: #333;
    font-size: 14px;
}
.my-btn-link:hover {
    color: rgba(51, 51, 51, 0.6);
}
.my-btn-link:active {
    color: rgba(51, 51, 51, 0.6);
}