@charset "UTF-8";
body {
    background: url("../images/background.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "Lato", sans-serif;
    /*padding-bottom: 50%;*/
}
.page-header {
    padding-bottom: 9px;
    margin: 71px 0 20px;
    border-bottom: none;
}
.jumbotron {
    height: 450px;
    overflow: scroll;
}
thead {
    font-size: large;
    font-weight: bold;
}
.cancel {
    float: right;
    font-size: 21px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 1;
    /*color: #000;*/
    /*text-shadow: 0 1px 0 #fff;*/
    /*filter: alpha(opacity=20);*/
    /*opacity: .2;*/
}

.lb-search {
    margin-left: 10px;
}