@charset "UTF-8";
body {
	background: url("../images/background.jpg") no-repeat center top scroll;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: "Lato", sans-serif;
	/*padding-bottom: 50%;*/
}

#content {
	/*margin-top: 51px;*/
	/*padding-bottom: 10px;*/
	/*background-color: rgba(191, 191, 191, 0.4);*/
	/*height: 100%;*/
}

.container-custom {
	background: rgba(191, 191, 191, 0.2);
	/*height: 100%;*/
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: none;
}

/* Left */
#leftcontent {
	/*height:570px;*/
	height: 100%;
	padding-top:10px;
	/*padding: 20px;*/
}

.main {
	position: relative;
	bottom: 0;
	/*left: 0;*/
	z-index: 1000;
	display: block;
	padding: 20px;
	/*overflow-x: hidden;*/
	/*overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
	/*background-color: #f5f5f5;*/
	/*border-right: 1px solid #eee;*/
	/*border-radius:5px;*/
	/*box-shadow:2px 2px 4px #BEBCBC;*/
}


#stream-list {
	background-color: #f5f5f5;
	border-left: 1px solid #eee;
	border-radius:5px;
	box-shadow:2px 2px 4px #BEBCBC;
	/*max-height:3500px;*/
	height:300px;
	overflow: scroll;
}
.grumblr-box {
	position:relative;
	left:15px;
	width:95%;
	margin-top:10px;
}
#post-board {
	margin-top: 10px;
	text-align: left;
	background-color: #f5f5f5;
	border-left: 1px solid #eee;
	padding: 20px 20px 20px;
	height:150px;
	/*height: 40%;*/
	border-radius:5px;
	box-shadow:2px 2px 4px #BEBCBC;
}

#prompt {
	color:black;
	margin-top:-15px;
}

p {
	color:red;
}

#post-btn {
	margin-top:5px;
	height:28px;
}

#focusedInput {
	height:70px;
	resize:none;
}
/* End of Left Content */

/* Main Content (dashboard) */
#rightcontent {
    height:560px;
    padding-top:10px;
	margin-top: 10px;
    /*padding: 20px;*/
}

.sidebar {
	position: relative;
	bottom: 0;
	/*left: 0;*/
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	border-radius:5px;
	box-shadow:2px 2px 4px #BEBCBC;
}

.line {
    width:100%;
    height:1px;
    background-color:#D5D5D5;
    overflow:hidden;
    margin-top:10px;
	margin-bottom:15px;
}

#userList {
    position:relative;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

#announcement {
	margin-top:50px;
	margin-bottom:5px;
}