<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS from Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- CSS from designer -->
    <link rel="stylesheet" href="stylesheets/signin.css">
    <title>Chatroom Sign-in</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div id="wrapper" class="col-md-5 col-md-offset-2 text-center">
            <img src="images/welcome.png" alt="logo">
            <div id="login-form">
                <form method="post" action="/" class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">Username:   </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputEmail3" name="username" placeholder="Enter User Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary active center-block">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
